.banner-container{
    background-color: rgb(253, 250, 250);
}

.banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.text{
    color: rgb(33, 36, 29);
    font-weight: 900;
}
.text-p{
    color: maroon;
    font-weight: bold;
}
@media only  screen and  (max-width:991px){
    .banner-container{
        padding: 10px 20px;
        flex-direction: column;

    }
}
@media only  screen and  (max-width:688px){
    .banner-container{
        padding: 10px 20px;
        flex-direction: column;

    }
}